pkgbase = python-pygments
	pkgdesc = Python syntax highlighter
	pkgver = 2.17.2
	pkgrel = 1
	url = https://pygments.org/
	arch = any
	license = BSD
	checkdepends = python-pytest
	checkdepends = python-lxml
	makedepends = python-setuptools
	makedepends = python-sphinx
	makedepends = python-wcag-contrast-ratio
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-hatchling
	depends = python
	provides = pygmentize
	conflicts = pygmentize
	replaces = pygmentize
	source = https://pypi.org/packages/source/p/pygments/pygments-2.17.2.tar.gz
	sha256sums = da46cec9fd2de5be3a8a784f434e4c4ab670b4ff54d605c4c2717e9d49c4c367

pkgname = python-pygments
